@charset "UTF-8";

*{

    margin: 0px;
    padding: 0px;
    

}

body {

    background-color: rgb(204, 203, 193);

}

header{

    display: flex;
    background-color: gray;
    padding: 20px;
    flex-flow: column nowrap;

}

header menu {

    flex: initial;
    padding-top: 5px;
    margin-left: 20px;

}

header a {

    background-color: black;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    padding: 5px;

}

header a:hover {

    background-color: white;
    color: black;

    transition: 0.5s;

}

header h1 {

    color: white;
    text-shadow: 1px 1px black;

}

main {

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;

}

main > article {

    background-color: white;
    width: 80vw;
    padding: 15px;
    margin-top: 5px;
    border-radius: 5px;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.255);

}

main p {

    text-indent: 20px;
    text-align: justify;

}