@charset "UTF-8";

.conteiner {

    background-color: aqua;
    display: flex;
    flex-flow: row wrap;
}

.item {

    background-color: aquamarine;
    border: 1px solid black;
    text-align: center;
    padding: 20px;
    flex: auto;
    
}
