@charset "UTF-8";

.conteiner {

    display: grid;

    height: 300px;

    background-color: aqua;
    grid-template-columns: auto auto ;
    grid-template-rows: auto auto;
    
   gap: 5px;

   border: 3px solid black;
}

#a{
    background-color: blue;
    text-align: center;
    border: 3px solid black;
}
#b{
    background-color: gray;
    text-align: center;
    border: 3px solid black;
}

#c{
    background-color: green;
    text-align: center;
    border: 3px solid black;
}

#d{
    background-color: violet;
    text-align: center;
    border: 3px solid black;
}