@charset "UTF-8";

.conteiner {

    display: grid;

    height: 200px;

    background-color: aqua;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;

    align-items: center;
    justify-items: center;

    gap: 5px;

   border: 3px solid black;

    align-content: space-around;
    justify-content: space-around;

}

#a{
    background-color: blue;
    text-align: center;
    border: 3px solid black;

    height: 50px;
    width: 50px;

}
#b{
    background-color: gray;
    text-align: center;
    border: 3px solid black;
height: 50px;
    width: 50px;    
}

#c{
    background-color: green;
    text-align: center;
    border: 3px solid black;
height: 50px;
    width: 50px;
}

#d{
    background-color: violet;
    text-align: center;
    border: 3px solid black;
height: 50px;
    width: 50px;
}