@charset "UTF-8";

*{

    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;

}

html , body {

    width: 100%;
    height: 100vh;

}

header > menu {

    padding: 10px;
    padding-left: 40px;

}

header a {

    text-decoration: none;
    padding: 10px;
    color: rgb(33, 121, 197);
}

header a:hover{

    color: rgb(2, 30, 185);
    box-shadow: inset 0px -2px 0px 0px rgb(44, 0, 203);
    transition: 0.3s

}

header > h1{

    background-color: black;
    color: white;
    padding: 25px;
    text-align: center;

}

main {

    width: 70%;
    background-color: #e9e9e9;
    border-radius: 10px;
    margin: 20px auto;
    padding: 20px;   
}   

main > article > h1 {

    padding-top: 20px;
    padding-bottom: 20px;
    
}

main > article > p {

    padding: 10px;
    text-align: justify;

}

hr {
  border: none;
  border-top: 1px solid #ccc;
  margin-top: 20px;
}

footer {

    padding: 20px;
    text-align: center;
    background-color: black;
    color: white;

}

main h1 {

    font-size: 3em;

}

main p {

    font-size: 1.5em;
    text-indent: 30px;

}

body::-webkit-scrollbar {
  display: none;             /* Chrome, Edge, Safari */
}