@charset "UTF-8";


*{

    margin: 0px;
    padding: 0px;

}

.conteiner {

    display: grid;

    background-color: aqua;
    grid-template-columns: repeat(3,auto);
    grid-template-rows: repeat(3,50px);

    width: 90vw;
    margin: auto;

    border: 3px solid black;

    grid-auto-flow: column;
    
    align-content: center;
    justify-content: center;
    
    place-content: center center;

    align-items: center;
    justify-items: center;

    place-items: stretch center;

    grid-auto-rows: 50px;
    grid-auto-columns: auto;

    
}

#a {

    display: flex;
    border: 2px solid black;
    width: 50px;
    
    align-items: center;
    justify-content: center;

    color: brown;
    background-color: chocolate;

}