@charset "UTF-8";

*{

    margin: 0px;
    padding: 0px;

}

body {

    background-color: lightgrey;

}

header {

    background-color: gray;

}

header > h1 {

    padding: 10px;
    text-align: center;

}

menu {

    display: block;

}

menu > ul {

    list-style-type: none;

}

menu > ul > li > a {

    display: block;
    text-decoration: none;
    color: white;
    padding: 10px;
    text-align: center;
    background-color: rgb(90, 90, 90);
    border-top: 2px solid lightgray;
}

menu > ul > li > a:hover{

    background-color: lightgrey;

}

main {

    width: 90vw;
    background-color: white;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;

}

main > article {

    padding-bottom: 20px;

}

main p {

    text-align: justify;
    text-indent: 20px;
    margin-bottom: 20px;

}