@charset "UTF-8";

@media screen and (min-width: 769px) and (max-width: 992px) {
  body,
  html {
    background-image: linear-gradient(
      to bottom,
      rgb(192, 18, 227),
      rgb(41, 224, 227)
    );
  }

  section#login {
    width: 70vw;
  }

  div#imagem {
    float: left;
    width: 30%;
    height: 100%;
  }

  div#formulario {
    float: right;
    width: 70%;
  }

  h1 {

    text-align: center;
    margin-bottom: 10px;
    font-size: 2.5em;

}

p {

    font-size: 2em;

}

}

@media screen and (min-width: 992px) {
  body,
  html {
    background-image: linear-gradient(
      to bottom,
      rgb(41, 224, 227),
      rgb(192, 18, 227)
    );
  }

  section#login {
    width: 950px;
  }

  div#imagem {
    float: right;
    width: 50%;
    height: 100%;
  }

  div#formulario {
    float: left;
    width: 50%;
  }

  h1 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 3em;
  }

  p {
    font-size: 2em;
  }
}
