@charset "UTF-8";

*{

    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

body, html {

    background-color: rgb(114, 61, 164);

}

main {

    display: flex;
    width: 100vw;
    height: 100vh;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

section#login {

    overflow: hidden;

    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.271);

    transition: 1s;
    transition-timing-function: ease;

}

div#imagem {

    background: rgb(114, 61, 164) url(image/pexels-sevenstormphotography-443383.jpg) no-repeat left bottom;
    background-size: cover;
    height: 200px;
    display: block;
    
}

div#formulario{

    display: block;
    padding: 10px;

}

form > input[type=submit] {

    display: block;
    margin-top: 10px;
    width: 100%;
    height: 30px;
    background-color: rgb(93, 184, 147);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.273);

}

form > input[type=submit]:hover {

    background-color: rgb(132, 240, 197);
    color: black;
    box-shadow: none;

    transition: 0.3s;

}

form > a{

    display: block;
    margin-top: 10px;
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: white;
    color: rgb(0, 52, 35);
    text-decoration: none;
    box-shadow: 1px 1px 1px rgba(42, 191, 117, 0.766);

}


form > a:hover {

    background-color: rgb(132, 240, 197);
    color: rgb(235, 255, 253);

}

a#alinha {

    display: flex;
    align-items: center;  
    gap: 10px;
    justify-content: center;

}

input {

    background-color: rgb(119, 237, 198);
    width: calc(100% - 38px);
    height: 100%;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    padding: 10px;
}

div.linha {

    
    margin: 5px 0px;
    background-color: blueviolet;
    border: none;
    border-radius: 5px;
    

}

span#cor {

    text-align: center;
    align-items: center;
    height: 38px;
    width: 30px;
    color: white;
    
}

input:focus-within{
    background-color: white;
}

h1 {

    text-align: center;
    margin-bottom: 10px;
    font-size: 1.5em;

}

p {

    font-size: 1em;

}