@charset "UTF-8";

:root {

  --fundo-principal:#f5f5f5 ;
  --texto: #222222;
  --texto-inverso:#ffffff ;
  --destaque: #0077ff;
  --destaque-inverso: #66bbff;
  --fundo-card: #ffffff;


}

@media screen and (min-width: 768px) {
  #skill-container {
    grid-template-columns: 1fr 1fr;
  }

  #projeto-container .projeto {

    flex-direction: row-reverse;
    justify-content: space-between;

  }

  #projeto-container .projeto-info {

    max-width: 80%;

  }

  #projeto-container .foto {

    max-width: 20%;
    aspect-ratio: 1/1;
    max-height: 200px;

  }

}

