@charset "UTF-8";


.conteiner {

    background-color: aqua;
    display: flex;
    flex-flow: row nowrap;

}

.item {

    background-color: aquamarine;
    border: 1px solid black;
    text-align: center;
    flex-basis: 150px;

}

#a{

    flex-grow: 0;
    flex-shrink:1; 

}
#b{

    flex-grow: 2;
    flex-shrink:0; 

}
#c{

    flex-grow: 1;
    flex-shrink:2; 

}