@charset "UTF-8";


.conteiner {

    background-color: aqua;
    display: flex;
    flex-flow: row nowrap;

}

.item {

    background-color: aquamarine;
    border: 1px solid black;
    text-align: center;
    flex-basis: 150px;

}

#a{

    flex-grow: 0;
    flex-shrink:1; 
    flex-basis: auto;

    /*
    flex: initial;
    */

    

}
#b{

    flex: 2 0 150px ; 

    /*
    flex: 2    0      150px ; 
          gorw shirnk basis
    */

}
#c{

    flex-grow: 1;
    flex-shrink:2; 

}