@charset "UTF-8";


.conteiner {

    background-color: aqua;
    display: flex;
    flex-flow: row nowrap;

}

.item {

    background-color: aquamarine;
    border: 1px solid black;
    text-align: center;
    flex-basis:150px;

}